<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- 1676914568692510.png -->

<body>
    <p>Enter a 4chan thread:</p>
    <p>example: https://boards.4channel.org/a/thread/249180219</p>
    <form action="/get_imgs" method="post">
        <input type="text" style="width: 30%" name="thread_URL">
    </form>
</body>

</html>