<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- 1676914568692510.png -->

<body>
    Grabbing all images
    <form action="/keep_selected" method="post">
        <div style='display:flex ;flex-direction:row-reverse'>
            <div style='position:fixed'>
                <p>Save selected content</p>
                <button type="submit">Submit</button>
            </div>
        </div>
        {% for oneImg in allImgs %}
        <input type="checkbox" name="{{oneImg[0]}}{{oneImg[1]}}" value="True" checked >
        <label>{{oneImg[0]}}{{oneImg[1]}}</label>
        {% if oneImg[1] != ".webm" %}
        <div style="width:100vw">
            <img src="/static/{{oneImg[0]}}{{oneImg[1]}}" alt="{{oneImg}}">
        </div>
        {% else %}
        <div style="width:100vw">
            <video height="40%" controls>
                <source src="/static/{{oneImg[0]}}{{oneImg[1]}}" type="video/webm">
            </video>
        </div>
        {% endif %}
        {% endfor %}
    </form>
</body>

</html>